@media(min-width:1279){}

@media(max-width:1279px){
    div.content {
        background-image: url();
        background-size: 153%;
        background-position: right 40% ;
      }
    div.banner h1{
        font-size: 10rem;
    }
}

@media(max-width:768px){
    header{
        height: 6rem;
    }
    header .logo p{
        height:30px ;
    }
    header nav.footer-content ul{
        display:none;
    }
    header nav.mobile-menu{
        display: inline;
    }
    /* section.banner h1{
        font-size: 6rem;
    } */

    footer .footer-content{
        width: 100%;
        margin: 2rem auto;
        flex-direction: column;
    }
    /* footer .company, footer .commnities, footer .useful-links{
        margin-top: 2rem;
    } */

    /* footer .extras span{
        margin-top: 2rem;
    } */

}

@media (max-width:480px){

    header{
        height: 5rem ;
    }

    header .logo p{
        height: 5rem;
    }

    div.content {
     background-image: url();
     background-size: 195%;
     background-position: center top 50%;
   }

   .content h1{
        font-size: 5rem;
    }
    
}
